@page "/"
@using RecipesUI.Services
@using IO.Swagger.Models
@inject IRecipeService RecipeService;



<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@if (Recipes != null)
{
    <ul>
        @foreach (var recipe in Recipes)
        {
            <li>
                <strong>@recipe.Name</strong><br />
                <em>@recipe.Description</em><br />
                <span>Ingredients:</span>
                <ul>
                    @if (recipe.Ingredients != null)
                    {
                        @foreach (var ingredient in recipe.Ingredients)
                        {
                            <li>@ingredient.Name: @ingredient.Amount @ingredient.Measurement.Value</li>
                        }
                    }
                    else
                    {
                        <li>No ingredients available</li>
                    }
                </ul>
                <span>Steps:</span>
                <ol>
                    @if (recipe.Steps != null)
                    {
                        @foreach (var step in recipe.Steps)
                        {
                            <li>@step.Description</li>
                        }
                    }
                    else
                    {
                        <li>No steps available</li>
                    }
                </ol>
            </li>
        }
    </ul>
}
else
{
    <p>Loading...</p>
}


@if (Recipe != null)
{
    <div>
        <h2>@Recipe.Name</h2>
        <p>@Recipe.Description</p>

        <h3>Ingredients</h3>
        <ul>
            @if (Recipe.Ingredients != null)
            {
                @foreach (var ingredient in Recipe.Ingredients)
                {
                    <li>@ingredient.Name: @ingredient.Amount @ingredient.Measurement.Value</li>
                }
            }
            else
            {
                <li>No ingredients available</li>
            }
        </ul>

        <h3>Steps</h3>
        <ol>
            @if (Recipe.Steps != null)
            {
                @foreach (var step in Recipe.Steps)
                {
                    <li>@step.Description</li>
                }
            }
            else
            {
                <li>No steps available</li>
            }
        </ol>
    </div>
}
else
{
    <p>Loading...</p>
}





@code {
    private List<RecipeResponse> Recipes;
    private RecipeResponse Recipe;

    protected override async Task OnInitializedAsync()
    {
        Recipes = await RecipeService.GetRecipes();
        Recipe = await RecipeService.GetRecipeById(1);
        RecipeService.CreateRecipe(null);
    }
    

}