@page "/recipe/{RecipeId:int}"
@inject IRecipeService RecipeService
@inject ILogger<Recipe> Logger
@inject NavigationManager NavigationManager
@using ApiCommons.DTOs
@using RecipesUI.Services

<header class="recipe-header">
    @if (isLoading)
    {
        <MudSkeleton Class="skeleton-recipe-photo" Height="400px" Animation="Animation.Wave" />
    }
    else
    {   
        <img src="@recipe?.ImageURL" alt="Recipe Photo" class="recipe-photo" onerror="this.onerror=null; this.src='/assets/placeholders/recipe-image-placeholder.svg';"/>
    }
</header>

<main>
    @if (isLoading)
    {
        <div class="recipe-info">
            <div class="recipe-details">
                <MudSkeleton Class="recipe-title" Width="70%" Animation="Animation.Wave" />
                <MudSkeleton Class="recipe-description" Width="90%" Animation="Animation.Wave" />
            </div>
            
            <div class="tags">
                <div class="tag">
                    <div class="tag-icon">
                        <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.2944 10.1765V15.1177L18.3827 18.2059" stroke="#333333" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.11788 4.41755C10.9949 3.3316 13.1258 2.76138 15.2943 2.76472C22.1169 2.76472 27.6473 8.29514 27.6473 15.1177C27.6473 21.9402 22.1169 27.4706 15.2943 27.4706C8.47182 27.4706 2.94141 21.9402 2.94141 15.1177C2.94141 12.8682 3.54299 10.7571 4.59423 8.94119" stroke="#333333" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="tag-info">
                        <MudSkeleton Class="tag-title" Width="30px"/>
                        <MudSkeleton Class="tag-subtitle" Width="30px"/>
                    </div>
                </div>
                <div class="tag">
                    <div class="tag-icon">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 8.75C15 10.8211 13.3211 12.5 11.25 12.5C9.17893 12.5 7.5 10.8211 7.5 8.75C7.5 6.67893 9.17893 5 11.25 5C13.3211 5 15 6.67893 15 8.75Z" stroke="#333333" stroke-width="1.5"/>
                            <path d="M18.75 20C18.75 23.4518 15.3921 26.25 11.25 26.25C7.10786 26.25 3.75 23.4518 3.75 20C3.75 16.5482 7.10786 16.25 11.25 16.25C15.3921 16.25 18.75 16.5482 18.75 20Z" stroke="#333333" stroke-width="1.5"/>
                            <path d="M23.75 10.625C23.75 12.3509 22.3509 13.75 20.625 13.75C18.8991 13.75 17.5 12.3509 17.5 10.625C17.5 8.89911 18.8991 7.5 20.625 7.5C22.3509 7.5 23.75 8.89911 23.75 10.625Z" stroke="#333333" stroke-width="1.5"/>
                            <path d="M20.625 25C23.7316 25 26.25 22.9013 26.25 20.3125C26.25 18.0817 24.38 17.6071 21.875 17.5185" stroke="#333333" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="tag-info">
                        <MudSkeleton Class="tag-title" Width="30px"/>
                        <MudSkeleton Class="tag-subtitle" Width="30px"/>
                    </div>
                </div>
                <div class="tag">
                    <div class="tag-icon">
                        <svg width="17" height="27" viewBox="0 0 17 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.402 1.91662L1.76294 13.4894C1.54428 13.7823 1.70358 14.2032 2.0614 14.2779L6.21309 15.145C6.43683 15.1917 6.60039 15.3842 6.61039 15.6126L7.01306 24.8056C7.03477 25.3012 7.68698 25.4661 7.94165 25.0405L15.6378 12.1774C15.8428 11.8347 15.5832 11.4018 15.1844 11.4213L11.1262 11.6194C10.8252 11.6341 10.5797 11.381 10.6034 11.0806L11.3011 2.25512C11.3406 1.75532 10.7019 1.51486 10.402 1.91662Z" stroke="#333333" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </div>
                   <div class="tag-info">
                       <MudSkeleton Class="tag-title" Width="30px"/>
                       <MudSkeleton Class="tag-subtitle" Width="30px"/>
                   </div>
                </div>
                <div class="tag">
                    <div class="tag-icon">
                        <svg width="24" height="23" viewBox="-4 -4 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.7061 3.33334L20.3727 3.33334M1.70606 3.33334L11.0394 3.33334" stroke="#333333" stroke-width="1.5" stroke-linecap="round"/>
                            <path d="M22.7061 11.5L14.5394 11.5M1.70606 11.5L5.20606 11.5" stroke="#333333" stroke-width="1.5" stroke-linecap="round"/>
                            <circle cx="9.87272" cy="11.5" r="2.33333" transform="rotate(90 9.87272 11.5)" stroke="#333333" stroke-width="1.5"/>
                            <circle cx="15.7062" cy="3.33333" r="2.33333" transform="rotate(90 15.7062 3.33333)" stroke="#333333" stroke-width="1.5"/>
                            <path d="M22.7061 19.6667L20.3727 19.6667M1.70606 19.6667L11.0394 19.6667" stroke="#333333" stroke-width="1.5" stroke-linecap="round"/>
                            <circle cx="15.7062" cy="19.6667" r="2.33333" transform="rotate(90 15.7062 19.6667)" stroke="#333333" stroke-width="1.5"/>
                        </svg>
                    </div>
                    <div class="tag-info">
                        <MudSkeleton Class="tag-title" Width="30px"/>
                        <MudSkeleton Class="tag-subtitle" Width="30px"/>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="ingredients">
            <MudSkeleton Width="150px" Height="30px" Animation="Animation.Wave" />
            @for (int i = 0; i < 5; i++)
            {
            <MudSkeleton Width="100%" Height="20px" Animation="Animation.Wave" Class="checkbox-wrapper" />
            }
        </div>
        <div class="steps">
            <MudSkeleton Width="200px" Height="30px" Animation="Animation.Wave" />
            @for (int i = 0; i < 5; i++)
            {
                <MudSkeleton Width="100%" Height="20px" Animation="Animation.Wave" Class="step-text" />
            }
        </div>
        <div class="browse-recipes">
            <h2>Browse Recipes</h2>
            <div class="recipe-list">
                @for (int i = 0; i < 5; i++)
                {
                    <div class="recipe-card">
                        <MudSkeleton Class="placeholder" Width="89px" Height="89px" Animation="Animation.Wave" />
                        <MudSkeleton Class="time-badge" Width="50px" Height="20px" Animation="Animation.Wave" />
                        <MudSkeleton Class="title" Width="70%" Height="20px" Animation="Animation.Wave" />
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="recipe-info">
            <div class="recipe-details">
                <h1>@recipe?.Name</h1>
                <p>@recipe?.Description</p>
            </div>
            <div class="tags">
                <div class="tag">
                    <div class="tag-icon">
                        <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.2944 10.1765V15.1177L18.3827 18.2059" stroke="#333333" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.11788 4.41755C10.9949 3.3316 13.1258 2.76138 15.2943 2.76472C22.1169 2.76472 27.6473 8.29514 27.6473 15.1177C27.6473 21.9402 22.1169 27.4706 15.2943 27.4706C8.47182 27.4706 2.94141 21.9402 2.94141 15.1177C2.94141 12.8682 3.54299 10.7571 4.59423 8.94119" stroke="#333333" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="tag-info">
                        <div class="tag-title">@TotalDuration()</div>
                        <div class="tag-subtitle">min</div>
                    </div>
                </div>
                <div class="tag">
                    <div class="tag-icon">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 8.75C15 10.8211 13.3211 12.5 11.25 12.5C9.17893 12.5 7.5 10.8211 7.5 8.75C7.5 6.67893 9.17893 5 11.25 5C13.3211 5 15 6.67893 15 8.75Z" stroke="#333333" stroke-width="1.5"/>
                            <path d="M18.75 20C18.75 23.4518 15.3921 26.25 11.25 26.25C7.10786 26.25 3.75 23.4518 3.75 20C3.75 16.5482 7.10786 16.25 11.25 16.25C15.3921 16.25 18.75 16.5482 18.75 20Z" stroke="#333333" stroke-width="1.5"/>
                            <path d="M23.75 10.625C23.75 12.3509 22.3509 13.75 20.625 13.75C18.8991 13.75 17.5 12.3509 17.5 10.625C17.5 8.89911 18.8991 7.5 20.625 7.5C22.3509 7.5 23.75 8.89911 23.75 10.625Z" stroke="#333333" stroke-width="1.5"/>
                            <path d="M20.625 25C23.7316 25 26.25 22.9013 26.25 20.3125C26.25 18.0817 24.38 17.6071 21.875 17.5185" stroke="#333333" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="tag-info">
                        <div class="tag-title">@recipe?.Servings</div>
                        <div class="tag-subtitle">servings</div>
                    </div>
                </div>
                <div class="tag">
                    <div class="tag-icon">
                        <svg width="17" height="27" viewBox="0 0 17 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.402 1.91662L1.76294 13.4894C1.54428 13.7823 1.70358 14.2032 2.0614 14.2779L6.21309 15.145C6.43683 15.1917 6.60039 15.3842 6.61039 15.6126L7.01306 24.8056C7.03477 25.3012 7.68698 25.4661 7.94165 25.0405L15.6378 12.1774C15.8428 11.8347 15.5832 11.4018 15.1844 11.4213L11.1262 11.6194C10.8252 11.6341 10.5797 11.381 10.6034 11.0806L11.3011 2.25512C11.3406 1.75532 10.7019 1.51486 10.402 1.91662Z" stroke="#333333" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="tag-info">
                        <div class="tag-title">@recipe?.Energy</div>
                        <div class="tag-subtitle">kcal/serv</div>
                    </div>
                </div>
                <div class="tag">
                    <div class="tag-icon">
                        <svg width="24" height="23" viewBox="-4 -4 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.7061 3.33334L20.3727 3.33334M1.70606 3.33334L11.0394 3.33334" stroke="#333333" stroke-width="1.5" stroke-linecap="round"/>
                            <path d="M22.7061 11.5L14.5394 11.5M1.70606 11.5L5.20606 11.5" stroke="#333333" stroke-width="1.5" stroke-linecap="round"/>
                            <circle cx="9.87272" cy="11.5" r="2.33333" transform="rotate(90 9.87272 11.5)" stroke="#333333" stroke-width="1.5"/>
                            <circle cx="15.7062" cy="3.33333" r="2.33333" transform="rotate(90 15.7062 3.33333)" stroke="#333333" stroke-width="1.5"/>
                            <path d="M22.7061 19.6667L20.3727 19.6667M1.70606 19.6667L11.0394 19.6667" stroke="#333333" stroke-width="1.5" stroke-linecap="round"/>
                            <circle cx="15.7062" cy="19.6667" r="2.33333" transform="rotate(90 15.7062 19.6667)" stroke="#333333" stroke-width="1.5"/>
                        </svg>
                    </div>
                    <div class="tag-info">
                        <div class="tag-title">@recipe?.Level.RemoveEnums()</div>
                        <div class="tag-subtitle">level</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="recipe-row">
            <div class="recipe-steps">
                <div class="ingredients">
                    <h2>Ingredients</h2>
                    @if (recipe?.Ingredients != null)
                    {
                        @foreach (var ingredient in recipe?.Ingredients)
                        {
                            <div class="checkbox-wrapper">
                                <input class="check-box-input" type="checkbox" id="check{@ingredient.Id}"/>
                                <label class="custom-checkbox"for="check{@ingredient.Id}">
                                    <div class="icon"><i class="fa fa-check"></i></div>
                                    @ingredient.Amount @ingredient.Measurement.RemoveEnums().ToLower() @ingredient.Name

                                </label>
                            </div>
                        }

                    }
                </div>
                <div class="steps">
                    <h2>Steps</h2>
                    @if (recipe != null && recipe.Steps != null)
                    {
                        <h3>Prep Phase <span class="time-badge">@recipe.PreparationDuration min</span></h3>
                        <ol>
                            @foreach (var step in recipe.Steps.Where(s => s.Phase == PhaseEnum.Prep))
                            {
                                <li>
                                    <p class="step-text"><strong>Step @step.StepNumber:</strong> @step.Description</p>
                                </li>
                            }
                        </ol>
                        <h3>Cooking Phase <span class="time-badge">@recipe.CookingDuration min</span></h3>
                        <ol>
                            @foreach (var step in recipe.Steps.Where(s => s.Phase == PhaseEnum.Cooking))
                            {
                                <li>
                                    <p class="step-text"><strong>Step @step.StepNumber:</strong> @step.Description</p>
                                </li>
                            }
                        </ol>
                    }
                    else
                    {
                        <p>Loading steps...</p>
                    }
                </div>
            </div>
            <div class="browse-recipes">
                <h2>Browse Recipes</h2>
                <div class="recipe-list">
                    @if (browseRecipes != null)
                    {

                        @foreach (var browseRecipe in browseRecipes.Take(5))
                        {
                            <div class="recipe-card" @onclick="() => NavigateToRecipe((int)browseRecipe.Id)">
                                <div class="placeholder">
                                    <svg width="89" height="89" viewBox="0 0 89 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 33.375C0 27.2389 4.98887 22.25 11.125 22.25C11.2119 22.25 11.3162 22.25 11.4031 22.25C12.6895 15.9053 18.3041 11.125 25.0312 11.125C27.6387 11.125 30.0723 11.8377 32.1408 13.0719C34.4527 8.62187 39.1287 5.5625 44.5 5.5625C49.8713 5.5625 54.5473 8.62187 56.8592 13.0719C58.9277 11.8377 61.3613 11.125 63.9688 11.125C70.6959 11.125 76.3105 15.9053 77.5969 22.25C77.6838 22.25 77.7881 22.25 77.875 22.25C84.0111 22.25 89 27.2389 89 33.375C89 35.4088 88.4611 37.3035 87.5051 38.9375H1.49492C0.538867 37.3035 0 35.4088 0 33.375ZM0 49.2629C0 46.6381 2.13809 44.5 4.76289 44.5H84.2371C86.8619 44.5 89 46.6381 89 49.2629C89 61.5178 81.282 71.9822 70.4525 76.0498L70.1396 78.5703C69.792 81.3516 67.4279 83.4375 64.6119 83.4375H24.3707C21.5721 83.4375 19.1906 81.3516 18.843 78.5703L18.5301 76.0672C7.71797 71.9822 0 61.5178 0 49.2629Z" fill="#EEEEEE"/>
                                    </svg>
                                </div>
                                <div class="time-badge">@TotalDuration() min</div>
                                <div class="title">@browseRecipe.Name</div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
</main>
  



@code {
    [Parameter]
    public int RecipeId { get; set; }

    private RecipeResponse? recipe;
    private List<RecipeResponse>? browseRecipes;
    private bool isLoading;
    


    protected override async Task OnParametersSetAsync()
    {
        try
        {
            isLoading = true;
            recipe = await RecipeService.GetRecipeById(RecipeId);

            StateHasChanged();
            
            browseRecipes = await RecipeService.GetRecipes();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to load recipe details or browse recipes.");
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    private void NavigateToRecipe(int id)
    {
        NavigationManager.NavigateTo($"/recipe/{id}");
    }
    
    private long TotalDuration()
    {
        return (recipe?.CookingDuration ?? 0) + (recipe?.PreparationDuration ?? 0);
    }
    
}
